@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "outfit", sans-serif;
}

.card-base {
  @apply border-2 border-white/10 rounded-2xl bg-white/5 
           transition duration-200 ease-in-out 
           hover:bg-white/10 hover:-translate-y-1.5 
           flex flex-col gap-2.5 text-white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/* 
@theme 
  // This tells Tailwind: "Stop looking at the Mac OS settings!"
  --dark-mode: class;
}


// Safety reset: This ensures that when .dark is NOT present, 
// the background MUST be white. 
:root {
  background-color: #ffffff !important;
  color: #000000 !important;
}

// When .dark is present, use your dark color 
.dark {
  background-color: #09090b !important; // zinc-950 
  color: #ffffff !important;
} */
